/* Estilos globais */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container de Login e Dashboard (aplicado a ambos) */
.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

/* Título */
h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
}

/* Divs de input */
div {
  margin-bottom: 20px;
}

/* Labels */
label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

/* Inputs e Select */
input, select {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

/* Input/Select focus */
input:focus, select:focus {
  border-color: #007BFF;
}

/* Botão de submit */
button {
  padding: 12px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo da mensagem de erro */
.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  animation: shake 0.5s ease-out;
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 0.3s ease-in-out;
}

/* Efeito de shake para a mensagem de erro */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* Tornar a mensagem de erro visível quando houver um erro */
.error-message.visible {
  opacity: 1;
}

/* Alerta de erro estilizado */
.error-alert {
  margin-top: 20px;
  padding: 15px;
  background-color: #f44336; /* Cor de fundo vermelha */
  color: white;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efeito 3D */
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Efeito suave de transição */
}

.error-alert strong {
  font-weight: bold;
}

/* Classe para o container de Dashboard (adiciona margens e outras propriedades) */
.dashboard-container {
  padding: 20px;
  margin: 0 auto;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.login-container {  
  display: flex;           /* Ativa o Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  height: 100vh;     


}

.inner-container {
  padding: 20px;           /* Espaçamento interno para a div interna */
  background-color: #f0f0f0;
  border-radius: 8px;      /* Bordas arredondadas */
  text-align: center;      /* Centraliza o texto dentro da div interna */
}